
<div class="homepage-background"></div>

<div class="content-wrapper">
  <div class="container">
    <div class="row"> 
      <div class="col-md-8 content-overlay mt-5">
        <div class="jumbotron custom-jumbo"> 
          <h1 class="display-4">Welcome to My Portfolio</h1>
          <p class="lead">This is my personal website built with Ruby on Rails</p>
          <hr class="my-4">
          <p>Check out my work and learn more about me!</p>
          <%= link_to "View Portfolio", portfolio_path, class: "btn btn-custom btn-lg" %>
        </div>
      </div>
    </div>
  </div>
</div>